# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic data
.figma/

# Node dependencies
node_modules/
dist/
dist-ssr/
*.local

# System files
.DS_Store
*.pem

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.elm-stuff
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules
